ul {
    list-style: none;
    background-color: #E51B23;
    border-radius: 1em;
}

li {
    display: inline-block;
    color: #ffffff;
    padding: 1% 6%;
}

.logo-image {
    width: 767px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.flex-itens {
    margin-top: 5%;
}

.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: black;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }