html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 20px;
}
.backgroundImage {
    background-image: linear-gradient(to bottom, transparent 0%, black 75%), url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    list-style: none;
    background-color: #E51B23;
    border-radius: 1em;
    /* display: none; */
}

nav {
    text-align: center;
    max-width: 100%;
    font-size: 18px;
}

li {
    display: inline-block;
    color: #ffffff;
    padding: 1% 6%;
    line-height: 35px;
    margin: 0 5px;
}

.logo-image {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;

}

.registerText {
    width: 100%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    color: #ffffff;
    font-family: Arial;
    min-width: 55%;
}

.flex-itens {
    margin-top: 5%;
}

.loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: black;
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
input {
     border-radius: 5px;
     height: 35px;
     border: white;
}

label {
     width: 100%;
}

button {
     background-color:  #E51B23;
     color: white;
     border-radius: 8px;
     height: 26px;
     border: #E51B23;
     cursor: pointer;
}

.introText {
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    max-width: 80%;
} 

#nonUser {
    font-size: 14px;
    color: #E51B23;
}

#hello-name {
    font-size: 36px;
    text-align: left;
}

#form-add-review{
    align-items: inherit;
    min-width: 80%;

}

#form-add-review, input{
    min-width: 98%;
    min-height: 45px;

}

#form-add-review, label{
    font-size: 22px;
    min-width: 80%;
}

#review {
    min-height: 100px;
}

.select{
    min-width: 98%;
    min-height: 45px;
    margin-top: 5%;
    font-size: 18px;
    border-radius: 5px;
    border: white;
}

#publish-review{
    min-width: 200px;
    min-height: 35px;
    font-size: 22px;
    margin-bottom: 5%;
    cursor: pointer;
}

hr{
    min-width: 100%;
}

.feed{
    border-radius: 10px;
    max-width: 760px;
}

.feed li{
    margin: 0 0px;
    min-width: 80%;
    margin-bottom: 10px;
    background-color: rgba(8, 8, 8, 0.918);
    border-radius: 30px;
}

.feed, p{
    font-size: 20px;
}

.delete-button{
    width: 35px;
    height: 30px;
    margin-bottom: 10px;
} 

.edit-button{
    width: 35px;
    height: 30px;
    margin-bottom: 10px;
}

#signout-button{
    position: absolute;
    left: 80%;
    top: 22%;
    cursor: pointer;
}
/* input#agree{
    display: none;
.vermelho{
    background-color: #E51B23;
}

input#disagree{
/*input#disagree{
    display: none;
} */


#signin-button { 
    min-width: 100px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

#signingoogle-button {
    min-width: 100px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

#signup-button {
    min-width: 100px;
    height: 35px;
    font-size: 20px;
    margin-top: 1%;
    cursor: pointer;
    margin-bottom: 5%;
}

#saveprofile-button {
    min-width: 100px;
    height: 35px;
    font-size: 20px;
    margin-top: 5%;
    cursor: pointer;
}

.none {
    display: none;
}

.footer {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.link {
    color: #E51B23;
    cursor: pointer;
}

.data{
    font-size: 18px;
    opacity: 90%;
}